<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Team</title>
  <link rel="stylesheet" href="./../css/style-test.css" />
</head>
<body>
	<h1>
		<%= team.name %>
	</h1>
	<h3>
		<%= team.description %>
	</h3>
</body>
</html>

