doctype html
html
head
	title= title
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(href='/css/style-test.css', rel='stylesheet', media='screen')
body

	p= user

	h1 Teams

	.alert Invalid Team

	form
		legend 
			| New Team
		form(action='/teams',method='post')
			//- input(name="name", placeholder="Name")
			//- br
			//- input(name="description", placeholder="description")
			//- input(type="submit")
			div(data-role='fieldcontain')
				fieldset(data-role='controlgroup')
					label(for='name') name
						input(id='name',type='text',value='',placeholder='name',name='name')
			div(data-role='fieldcontain')
				fieldset(data-role='controlgroup')
					label(for='description') description
						input(id='description',type='text',value='',placeholder='description',name='description')
			div(data-role='fieldcontain')   
				input(type='submit',value='Submit',data-transition='fade', data-theme='c')


	ul.team-list
		each team in teams
			li= team.name


	
	a(href="/logout") Logout

script(src='/js/jquery.js')
script(src='/js/client.js')